body {
  height: 1000px;
  width: cover;
  background-color: black;
}

.textContainer {
  height: 40%;
  position: relative;
  top: 20%;
  color: white;
}

.text1, .text2, .text4 {
  font-size: 40px;
  text-align: center; 
}

.text3 {
  font-size: 40px;
  text-align: right;
}

.box {
  height: 100px;
  width: 100px;
  background-color: red;
}

.asText {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-align: left;
}

.row, .col-md-6 {
  padding: 0px;
  margin: 0px;
}

button {
  outline: none;
}

img {
  position: relative;
  height: 100px;
  width: 100px;
  left: 45%;
}